.thanks-container {
    text-align:center;
}

.thanks-container h2, 
.thanks-container h3{
    margin-bottom: 1.2rem;
    text-align:center;
}

.thanks-container p{
    margin-bottom: 1rem;
    font-size: 0.93rem;
}

.thanks-container h2 span{
    color: #03b8b8;
}

.review-data {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.review-data svg{
    margin-left: 5px;
    margin-top: 8px;
    font-size: 2.5em;
    fill: #03b8b8;
}

.review-data span{
    font-weight: bold;
    margin-bottom: 3px;
}

.comments-container{
    text-align: left; 
    word-wrap: break-word; 
}

.comments-container p { 
    font-size: 0.95rem;
    
    
}