.app {
  padding: 2.2rem;
}

/* Cabeçalho */

.header {
  text-align: center;
  margin-bottom: 2rem;
} 

.header h2{
  font-size: 2rem;
  margin-bottom: 1.1rem;
  color: #03b8b8;  
} 

/* Forms */

.form-container {
  max-width: 540px;
  margin: 0 auto;
  background-color: #fefefe;
  padding: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
}

.form-container form {
  margin: 0 auto;
  padding: 0.5rem;
}

.inputs-container {
  min-height: 270px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

label {
  font-weight: bold;
  color: #778;
  font-size: 1rem;
  margin-bottom: .5rem;
}

input, 
textarea {
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(98, 98, 97, 0.2) 0px 7px 29px 0px;
  font-size: 1rem;
  color: #778;
}

textarea {
 height: 125px;
 resize:none;
}

input::placeholder {
  color:#0bb8b8cc;
}

/*Botões*/

.actions {
  display: flex;
  justify-content: flex-end;   
  gap: 0.5rem;
}

.actions button {
  border: none;
  border: 2px solid #03b8b8;
  background-color: #03b8b8;
  font-size: 1rem;
  padding: 0.5rem 1rem; 
  opacity: 0.9;
  transition: 0.5s;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.actions button:hover {
  opacity: 1;
  transition: 0.5s; 
  border: 2px solid #91b803;
  background-color: #91b803;
}

.actions button span{ 
  color:#fefefe;
}

.actions button svg 
{ 
  color: #fefefe;
  stroke: #fefefe;
}